block content
  h1= title
  br
  h4 Hello, User. Please Enter Your Username and Password to Log In.
  p If you do not have a username and password, please register them.
  form(name="login", action="/", method="post")
   input(type="text", name="username", placeholder="Enter A Username")
   br
   input(type="text", name="password", placeholder="Enter a Password")
   input(type="submit", value="Register", name="logreg")
   input(type="submit", value="Login", name="logreg")
  link(rel='stylesheet', href='/stylesheets/style.css')
