doctype html
html
  head
    title= title
    link(rel='stylesheet', href='assets/stylesheets/style.css')
  body
    block content
     ul#Playlists
      each playlist in plist
       li= playlist
      h3 Please Select From One Of The Playlists Above
     form(name="select", action="/querybyplaylist", method="post")
      input(type="text", name="selection", placeholder="Enter a Playlist ID Number")
      br
      input(type="submit", value="Show Tracks")
     ul#tracks
      each track in tlist
       li= track
