body {
	background-color: #4c5b63;
}
h1 {
  color: #E2FF99;
  background-color: orange;
}
h2 {
  color: orange;
  text-align: center;
}

h4 {
	color: white;
}

p {
  text-indent: 1cm;
  color: white;
  text-align: center;

}

::placeholder {
	color:white;
}

ul {
	text-align: center;
	color: white;
}

#output {
  font-style: italic;
  color: d3fffe;
  padding: 20px;
  display: inline-block;
  text-align: center;
}


#navbar ul {
	list-style-type:none;
	margin: 0px;
	display: inline;
	width: 100%;
position: fixed;
	bottom: 0;
	overflow: auto;
	text-align: center;
	}

#navbar li {
	display: inline;
	text-align: center;
	width: 30%;
}
#navbar li a {
	display: inline;
	color: green;
	text-decoration:none;
	border-right-style: solid;
	border-right-color: lightgray;
	text-align: center;

}


#navbar li:last-child {
	border-bottom: none;
}
}
input{
  background-color: #ffe08c;
  box-sizing: border-box;
  background-color:#567ab5;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;

}

input:hover{
	background-color:blue;
}

input:focus{
	background-color: orange;
}

input[type=text]
{
	padding: 12px 20px;
	color: white;
	box-sizing: border-box;
	width: 100%;
}

input[type=date]
{
	width: 15%;
	text-align: center;
}

input[type=button]
{
	width: 100%;
	padding: 12px 20px;
}

.submitClaim:hover{
	background-color: pink;
	color: black;
}
